/* line 27, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 29, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 14, ../../../app/stylesheets/partials/_start.sass */
body, select, input, textarea {
  color: #444444;
}

/* line 17, ../../../app/stylesheets/partials/_start.sass */
html {
  overflow-y: scroll;
}

/* line 20, ../../../app/stylesheets/partials/_start.sass */
a, a:active, a:visited {
  color: #607890;
}

/* line 23, ../../../app/stylesheets/partials/_start.sass */
a:hover {
  color: #003366;
}

/* line 26, ../../../app/stylesheets/partials/_start.sass */
ul, ol {
  margin-left: 1.8em;
}

/* line 29, ../../../app/stylesheets/partials/_start.sass */
ol {
  list-style-type: decimal;
}

/* line 32, ../../../app/stylesheets/partials/_start.sass */
td, td img {
  vertical-align: top;
}

/* line 35, ../../../app/stylesheets/partials/_start.sass */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 38, ../../../app/stylesheets/partials/_start.sass */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 65, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 77, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 79, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 118, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 58, ../../../app/stylesheets/partials/_start.sass */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 61, ../../../app/stylesheets/partials/_start.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 64, ../../../app/stylesheets/partials/_start.sass */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 67, ../../../app/stylesheets/partials/_start.sass */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* line 34, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 38, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 42, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p299@razor/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 8, ../../../app/stylesheets/partials/_pages.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 13, ../../../app/stylesheets/partials/_pages.sass */
strong, th {
  font-weight: bold;
}

/* line 16, ../../../app/stylesheets/partials/_pages.sass */
small {
  font-size: 84.615%;
}

/* line 26, ../../../app/stylesheets/partials/_pages.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 30, ../../../app/stylesheets/partials/_pages.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

@font-face {
  font-family: "Avenir";
  src: url("avenirltstd-black-webfont.eot");
  src: local("Avenir LT Std"), local("AvenirLTStdBlack"), url("avenirltstd-black-webfont.woff") format("woff"), url("avenirltstd-black-webfont.ttf") format("truetype"), url("avenirltstd-black-webfont.svg#webfontwheG1Yid") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cronos";
  src: url("cronospro-boldsubh-webfont.eot");
  src: local("☺"), url("cronospro-boldsubh-webfont.woff") format("woff"), url("cronospro-boldsubh-webfont.ttf") format("truetype"), url("cronospro-boldsubh-webfont.svg#webfontDFXSTLIT") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../../../app/stylesheets/partials/pages/_shared.sass */
body {
  background: url('/images/background.jpg?1286065481') black top center no-repeat;
}

/* line 18, ../../../app/stylesheets/partials/pages/_shared.sass */
#container {
  position: relative;
  width: 100%;
  z-index: 0;
}

/* line 23, ../../../app/stylesheets/partials/pages/_shared.sass */
#dashed {
  background: url('/images/stripes.png?1286059006') no-repeat center;
  height: 68px;
  position: absolute;
  top: 835px;
  width: 100%;
  z-index: 3;
}

/* line 31, ../../../app/stylesheets/partials/pages/_shared.sass */
#main {
  position: relative;
  z-index: 5;
}

/* line 35, ../../../app/stylesheets/partials/pages/_shared.sass */
.wrapper {
  margin: 0 auto;
  width: 980px;
  z-index: 5;
}

/* line 40, ../../../app/stylesheets/partials/pages/_shared.sass */
.left {
  float: left;
}

/* line 43, ../../../app/stylesheets/partials/pages/_shared.sass */
.right {
  float: right;
}

/* line 46, ../../../app/stylesheets/partials/pages/_shared.sass */
.fourth {
  float: left;
  margin-right: 20px;
  padding: 10px 0 30px;
  width: 230px;
}
/* line 51, ../../../app/stylesheets/partials/pages/_shared.sass */
.fourth.last {
  margin-right: 0;
}
/* line 53, ../../../app/stylesheets/partials/pages/_shared.sass */
.fourth h3, .fourth h4, .fourth p {
  text-align: left;
}
/* line 55, ../../../app/stylesheets/partials/pages/_shared.sass */
.fourth p {
  padding-bottom: 10px;
  margin: 0;
}

/* line 59, ../../../app/stylesheets/partials/pages/_shared.sass */
h1, h2, h3, h4 {
  font-family: Avenir, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

/* line 64, ../../../app/stylesheets/partials/pages/_shared.sass */
h1 {
  text-shadow: #0f3355 0 0 30px;
  color: black;
  font-size: 7em;
  letter-spacing: 0.205em;
  line-height: 0.7;
  padding: 125px 0 0;
  text-align: center;
}

/* line 73, ../../../app/stylesheets/partials/pages/_shared.sass */
h2 {
  color: #c3d2de;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

/* line 79, ../../../app/stylesheets/partials/pages/_shared.sass */
h3 {
  color: #c3d2de;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
}

/* line 85, ../../../app/stylesheets/partials/pages/_shared.sass */
h4 {
  color: #c3d2de;
  letter-spacing: 0.05em;
}

/* line 89, ../../../app/stylesheets/partials/pages/_shared.sass */
h6 {
  color: #c3d2de;
  font-family: Cronos, Calibri, Arial, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
}
/* line 97, ../../../app/stylesheets/partials/pages/_shared.sass */
h6 span {
  display: inline-block;
  font-size: 2em;
  letter-spacing: 0.5em;
  padding-bottom: 10px;
}

/* line 103, ../../../app/stylesheets/partials/pages/_shared.sass */
p {
  color: #98bcde;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  line-height: 1.34;
  margin-bottom: 20px;
  text-align: center;
}

/* line 111, ../../../app/stylesheets/partials/pages/_shared.sass */
hr {
  background: url('/images/divider.png?1286068826') no-repeat center;
  border: none;
  height: 3px;
  margin: 15px 0;
}

/* line 1, ../../../app/stylesheets/partials/pages/_header.sass */
header {
  background: black;
  border-bottom: 1px solid #222222;
  opacity: 0.6;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../../../app/stylesheets/partials/pages/_header.sass */
header .left {
  background: black;
  border-right: 1px solid #292929;
  display: inline-block;
  opacity: 1;
  padding: 15px 30px 12px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 16, ../../../app/stylesheets/partials/pages/_header.sass */
header p {
  margin: 0;
}
/* line 20, ../../../app/stylesheets/partials/pages/_header.sass */
header .right a {
  border-left: 1px solid #292929;
  color: #367fb6;
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1em;
  padding: 13px 10px 10px 30px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 32, ../../../app/stylesheets/partials/pages/_header.sass */
header .right a span {
  color: #145d94;
  font-weight: normal;
  text-transform: lowercase;
}
/* line 36, ../../../app/stylesheets/partials/pages/_header.sass */
header .right a:hover, header .right a:focus {
  color: white;
}

/* line 1, ../../../app/stylesheets/partials/pages/_main.sass */
.headline {
  margin-bottom: 370px;
}
/* line 4, ../../../app/stylesheets/partials/pages/_main.sass */
.headline h2 {
  letter-spacing: 0.05em;
}

/* line 1, ../../../app/stylesheets/partials/pages/_footer.sass */
footer {
  clear: both;
  font-size: 0.85em;
  padding: 0 0 15px 0;
  text-transform: uppercase;
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../../../app/stylesheets/partials/pages/_footer.sass */
footer a {
  text-decoration: none;
}
/* line 11, ../../../app/stylesheets/partials/pages/_footer.sass */
footer p {
  color: #13384a;
  margin: 0;
}
