.wrapper
  .headline
    %h1 Boxed Reality
    %hr
    %h2 A Slightly More Understandable Concept Of Our Social Relevance
  
  %h6 
    %span ...
    %br Our lack of perception, knowledge and understanding of the universe 
    %br is rotting the core of our progress and evolution
  
  %h2 Lorem Ipsum Dolor Sit Amet
  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  %hr
  
  .fourth
    %h3 Religion
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
    %h4 Not Relevant!
    
  .fourth
    %h3 Democracy
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
    %h4 Not Relevant!
    
  .fourth
    %h3 Education
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
    %h4 Not Relevant!
    
  .fourth.last
    %h3 Media
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
    %h4 Not Relevant!